.idea/
.vscode/
packer/variables.json
terraform/key.json

terraform/prod/fflvladimir-key.json
*.lock.hcl
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

*.retry

jdauphant.nginx
vault.key
.vagrant/
venv
venvv
