cloud_id                 = "b1ghcrv4651fhmqm067h"
folder_id                = "b1gfnerdjod4v3tv0hkp"
zone                     = "ru-central1-a"
image_id                 = "fd8g4v8pl3t3h5sauj5u"
public_key_path          = "~/.ssh/ubuntu.pub"
subnet_id                = "e9b1v66prqdrtch3388i"
service_account_key_file = "key.json"
private_ssh_key          = "/home/ubuntu/.ssh/ubuntu"
res_zone                 = "ru-central1-a"
app_count                = "1"
app_disk_image = "fd89j8iftfel2o29mb4i"
db_disk_image = "fd89j8iftfel2o29mb4i"
